nav {
	background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px #ededed;
  -moz-box-shadow:    0px 0px 10px #ededed;
  box-shadow:         0px 0px 10px #ededed;
  z-index:2;
  display: block;
}

.navbar {
  border-bottom: 1px solid #f5f5f5;
}
.navbar-brand {
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar-brand > img {
  width: 40px;
  height: 40px;
  position: center;
}

nav div a {
	font-size: 1em;
	color: #000000;
}

@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    right: 0;
    left: auto;
  }
  .navbar-right .dropdown-menu-left {
    right: auto;
    left: 0;
  }
}
.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  max-height: 340px;
}

@media (max-device-width: 480px) and (orientation: landscape) {
  .navbar-fixed-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    max-height: 200px;
  }
}
.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
@media (min-width: 768px) {
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    border-radius: 0;
  }
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}

